.page-404 {
  --s: var(--s-0);
  position: absolute;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: flex-end;

  article {
    display: grid;
    grid-template-areas:
      "title"
      "subtitle"
      "links"
      "illustration";
    justify-items: center;
    align-content: end;

    h1 {
      grid-area: title;
    }
    h2 {
      grid-area: subtitle;
    }
    p {
      grid-area: links;
    }
    img {
      grid-area: illustration;
    }

    width: 100%;

    * {
      text-align: center;
      margin: 0;
      padding: 0;
      line-height: 1;
    }
    & > * {
      width: 100%;
      max-width: 100%;
    }
  }

  @media (min-aspect-ratio: 1/1) {
    align-items: center;

    article {
      grid-template-areas:
        "title"
        "subtitle"
        "illustration"
        "links";
      max-width: 80vmin;
    }
    img {
      border: 2px solid var(--color-text);
      box-shadow: 4px 4px 0 0 var(--color-text);
    }
    h2 {
      margin-block-end: var(--s);
    }
  }

  h1 {
    font-size: calc(var(--s) * 5);
  }
  h2 {
    font-size: calc(var(--s) * 1.5);
    font-weight: var(--font-weight-semibold);

    .headline-anchor {
      display: none;
    }
  }

  p {
    font-size: calc(var(--s));
    margin-block: calc(var(--s) * 0.5) var(--s);
  }
}
