.page-note {
  padding: var(--page-margin);
  header {
    margin-block-end: var(--spacing-xl);
    h1 {
      line-height: 1.25rlh;
    }
    time {
      font-weight: var(--font-weight-normal);
      font-size: 0.6em;
      opacity: 0.5;
    }
  }

  main {
    margin: calc(5 * var(--s-1)) auto;
    max-width: var(--page-width-narrow);
    width: 100%;
    min-height: 100dvh;
  }

  .page-note__article {
    margin-block-end: var(--spacing-hero);
  }

  .page-note__backlinks {
    margin-block-start: var(--spacing-xl);
    --backlink-col-count: 1;

    @media (min-width: 480px) {
      &:has(:nth-child(2)) {
        --backlink-col-count: 2;
      }
    }
    /* @media (min-width: 768px) {
      &:has(:nth-child(3)) {
        --backlink-col-count: 3;
      }
    } */

    h2 {
      position: relative;
      &::before {
        content: "⤴";
        position: absolute;
        font-size: 0.75em;
        top: 0;
        left: -1.3em;
        scale: -1 1;
        opacity: 0.2;
      }
    }
    ul {
      list-style: none;
      padding-inline-start: 0;
      display: grid;
      grid-template-columns: repeat(
        var(--backlink-col-count),
        minmax(100px, 1fr)
      );
      gap: 0 var(--s-1);
    }

    li {
      display: flex;
      flex-direction: column;
      align-items: start;
      /* margin: 0; */
      a {
        position: relative;
        &::before {
          content: "⤴";
          position: absolute;
          font-size: 0.75em;
          opacity: 0.5;
          top: 0;
          left: -1em;
          scale: -1 1;
        }
      }
    }

    time {
      font-weight: var(--font-weight-normal);
      font-size: 0.6em;
      opacity: 0.5;
      line-height: 1;
    }
  }
  .tag {
    opacity: 0.8;
    box-shadow: 0 0 0 1.5px var(--color-text);
    border-radius: 0.2em;
    padding: 0.1em 0.3em 0.2em;
    font-weight: var(--font-weight-bold);
    font-size: 0.8em;
    position: relative;
    cursor: default;

    &::before {
      content: "#";
      display: inline-block;
      margin-inline-end: 0.1em;
    }

    & + & {
      margin-inline-start: 0.2em;
    }
  }

  hr {
    margin-block: calc(var(--spacing-xl) * 2);
    height: 1px;
    background-color: color-mix(in srgb, var(--color-text) 10%, transparent);
    position: relative;
    opacity: unset;
    display: flex;
    place-items: center;
    justify-content: center;
    overflow: visible;
    --janusz-size: var(--s-2);
    /* margin-inline: 35%; */

    &::after {
      content: "";
      background-image: url(/assets/tiny-janusz.png);
      background-size: contain;
      display: block;
      width: var(--janusz-size);
      height: var(--janusz-size);

      cursor: pointer;
      transition:
        scale 0.3s ease-in-out,
        opacity 0.3s ease-in-out;
    }

    &:hover:not(.was-clicked) {
      &::after {
        /* animation: none; */

        scale: 1.2;
      }
    }

    &:not(.was-clicked) {
      &::after {
        animation-name: animation-hr-enter;
        animation-duration: 1ms;
        animation-fill-mode: forwards;
        animation-timeline: view();
      }
    }
    &.was-clicked {
      &::after {
        animation: animation-hr-exit 0.8s ease-in both;
      }
    }
  }
}

@keyframes animation-hr-enter {
  from {
    rotate: 0deg;
  }
  to {
    rotate: -720deg;
  }
}
@keyframes animation-hr-exit {
  0% {
    translate: 0 0;
    rotate: 0deg;
    opacity: 1;
  }

  70% {
    opacity: 1;
  }

  100% {
    translate: 0 60vh;
    rotate: 540deg;
    opacity: 0;
  }
}
