<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="//writ.cmcenroe.me/1.0.4/writ.min.css">
</head>
<body>
    <main>
      <h1>title: {{title}}</h1>
      <article>
        {{ content | safe }}
      </article>
    </main>
</body>
</html>

