---
layout: root.njk
pageClass: intro
---

<main>
  <section class="page-intro__about">
    <img src="./assets/tiny-janusz.png" alt="a face drawn by a modestly talented man-child">
    <p>
      Hi there, I'm <a href="https://sonnet.io">Rafał Pastuszak</a>. I'm using this space to publish my #til/lab
      notes,
      learn, and work in the open (<a href="/111">more</a>).
    </p>
    <blockquote>
      <em>untested</em> like <em>undead</em>, so not
      <em><strong>not</strong>-tested</em>, but in a limbo causing constant fear
      and anxiety, boooo!
    </blockquote>
  </section>
  <section class="page-intro__contact">
    Want to receive my work as I publish it?
    <a href="https://letters.sonnet.io/profile/posts"><strong>Subscribe here</strong></a>.
  </section>

  <section class="page-intro__feed">
    <header class="page-intro__section-nav">
      <h2>Articles</h2>
      <!-- <h2><a href='/all'>View all</a></h2> -->
    </header>
    <ol class="timeline" reverse>
      {% for note in collections.notes | reverse %}
      <li class="timeline__item"><a href="{{ note.url }}">{{ note.data.title }}</a><time>{{ note.page.date |
          dateFormat('dd·MM·yyyy')}}</time></li>
      {% endfor %}
    </ol>
  </section>
</main>

{% include "components/page-stickers.njk" %}
{% include "components/style-lazy.njk" %}
{% include "components/footer.njk" %}