---
layout: root.njk
pageClass: intro
eleventyExcludeFromCollections: true
---

{% include "components/logo.njk" %}
<main>
  <section class="page-intro__about">
    <img
      src="./assets/tiny-janusz.png"
      alt="a face drawn by a modestly talented man-child"
/>
    <p>
      Hi there, I'm <a href="https://sonnet.io">Rafał Pastuszak</a>. Untested is
      my digital garden. It's where I learn, share what I've learned, and work
      with the garage door up (<a href="/notes/111">111</a>).
    </p>
    <blockquote>
      <em>untested</em> like <em>undead</em>, so not
      <em>
        <strong>not</strong>-tested</em>, but in a limbo causing constant fear
      and anxiety, boooo!
    </blockquote>
  </section>
  <section class="page-intro__contact">
    {% include "components/widget-subscribe.njk" %}
  </section>

  <section class="page-intro__feed">
    <header class="page-intro__section-nav">
      <h2>Articles</h2>
      <a href="/all">View all notes</a>
    </header>
    <ol class="timeline" reverse>
      {% for group in collections['untested-article'] | reverse | groupByMonth %}
        <li class="timeline__item">
          <h3 class="timeline__item-title">{{ group.date | dateFormat('MMMM yyyy') }}</h3>
          <ol class="timeline__group">
            {% for note in group.pages %}
              <li class="timeline__group-item">
                <a href="{{ note.url }}">{{ note.data.title }}</a
              >
              </li>
            {% endfor %}
          </ol>
        </li>
      {% endfor %}
    </ol>
    <a href="https://sonnet.io/blog" class="page-intro__more-articles" target="_blank"><img src="/assets/more-articles-footer.webp" alt="a dog saying: but wait! there is more!"/></a>
  </section>
</main>

{% include "components/page-stickers.njk" %}
{% include
"components/style-lazy.njk" %}
{% include "components/footer.njk" %}