<meta charset="UTF-8" />

{% include './meta/seo.njk' %}

<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="theme-color" content="#161616" />
<link
  rel="apple-touch-icon"
  sizes="180x180"
  href="{{ '/assets/favicons/icon-180.png' | url | absoluteUrl }}"
/>
<link
  rel="icon"
  type="image/png"
  sizes="32x32"
  href="{{ '/assets/favicons/icon-32.png' | url | absoluteUrl }}"
/>
<link
  rel="icon"
  type="image/png"
  sizes="16x16"
  href="{{ '/assets/favicons/icon-16.png' | url | absoluteUrl }}"
/>
