---
layout: base.njk
pageClass: page--note
---

<nav class="page-note__nav">
  <a href="/">← notes</a>
</nav>

<header class="page-note__header">
  <h1>{{title}}</h1>
</header>

<article>{{ content | safe }}</article>

{% include "widget-subscribe.njk" %}
