---
layout: base.njk
pageClass: page--note
---

<nav class="page-note__nav">
  <a href="/">← notes</a>
</nav>

<header class="page-note__header">
  <h1>{{title}}</h1>
</header>

<article class="page-note__article">{{ content | safe }}</article>

{% include "widget-subscribe.njk" %}


<script>
document.addEventListener("DOMContentLoaded", () => {
    const images = document.querySelectorAll("article img[loading='lazy']");

    images.forEach(img => {
        if (img.complete) {
            img.classList.add("image--is-loaded");
        } else {
            img.addEventListener("load", () => {
                img.classList.add("img--is-loaded");
            });
        }
    });
});
</script>
