---
layout: root.njk
---

<section class="page-notes__intro">
  <p>
    Hi there, I'm <a href="https://sonnet.io">Rafał Pastuszak</a>. I'm using
    this space to publish my #til/lab notes.
  </p>

  {% include "components/widget-subscribe.njk" %}

  <p>Let's call this thing Untested.</p>

  <blockquote>
    <em>untested</em> like <em>undead</em>, so not
    <em><strong>not</strong>-tested</em>, but in a limbo causing constant fear
    and anxiety, boooo!
  </blockquote>
</section>

<section class="page-notes page-notes--by-day">
  <h2>(wip) dump of all public notes</h2>
  <ol>
    {% for note in collections.notes | reverse %}
    <li><a href="{{ note.url }}">{{ note.data.title }}</a></li>
    {% endfor %}
  </ol>
</section>
