---
layout: root.njk
pageClass: note
---
<main>


    <nav class="page-note__nav">
        <a href="/">← notes</a>
    </nav>

    <header class="page-note__header">
        <h1>{{title}}</h1>
        <h2><time>{{ page.date |
                dateFormat('dd·MM·yyyy')}}</time></h2>
    </header>

    <article class="page-note__article">{{ content | safe }}</article>

    {% include "components/widget-subscribe.njk" %}

</main>

{% include "components/page-stickers.njk" %}
{% include "components/style-lazy.njk" %}
{% include "components/footer.njk" %}