<!doctype html>
<html lang="en">
  <head>
    {% include 'meta.njk' %}
    <link rel="stylesheet" href="/assets/main.css" />
    {% include 'umami.njk' %}
  </head>
  <body
    data-last-build="{{site.buildTime}}"
    {%
    if
    pageClass
    %}class="page-{{ pageClass }}"
    {%
    endif
    %}
  >
    {{ content | safe }}
  </body>
</html>
