<!doctype html>
<html lang="en">
  <head>
    {% include 'meta.njk' %}
    <link rel="stylesheet" href="/assets/main.css" />
    <script
      async
      defer
      data-website-id="378d312b-4c09-48e2-8276-f2d213375ef0"
      src="https://sonnet-events.vercel.app/umami.js"
      data-domains="untested.sonnet.io, https://new.untested.sonnet.io/"
    ></script>
  </head>
  <body {% if pageClass %}class="page-{{ pageClass }}" {% endif %}>
    {{ content | safe }}
  </body>
</html>
