<img class="page-sticker page-sticker--theseus" src="./assets/theseus-cut.png"
    alt="a giant foot-shaped snail with a house on its back. the house is still in construction, with a big crane towering above it">

<img class="page-sticker page-sticker--angst" src="./assets/angst-cut.png"
    alt="The image is a stylized black-and-white illustration. In the lower left corner, there is a small, cozy-looking house with smoke rising from its chimney. The smoke, however, does not dissipate into the air but instead forms a dark, looming cloud. Within the cloud, the silhouette of a large, menacing face is visible, with its eyes and nose peeking through the darkness. The creature, perhaps a cat, appears to be watching over the house ominously, creating a sense of foreboding or unease.">