<script type="module">
  const onLoaded = () => {
    const images = document.querySelectorAll("img[loading='lazy']");
    images.forEach((img) => {
      if (img.complete) {
        img.classList.add("img--is-loaded");
      } else {
        img.addEventListener("load", () => {
          img.classList.add("img--is-loaded");
        });
      }
    });
  };
  if (document.readyState !== "loading") {
    onLoaded();
  } else {
    document.addEventListener("DOMContentLoaded", onLoaded);
    document.addEventListener("pageshow", onLoaded);
  }
</script>
