<p class="widget-subscribe widget-subscribe--inline">
  Did you enjoy reading this article? Consider <a href="https://ko-fi.com/rafalpast"><strong>paying for my work</strong></a>, or subscribe via <a href="/feed.xml"><strong>RSS</strong></a> or <a href="https://letters.sonnet.io/profile/posts"><strong>email</strong></a>.
</p>
