<p class="widget-subscribe">
  Want to receive my work as I publish it?
  <a href="https://letters.sonnet.io/profile/posts"
    ><strong>Subscribe via email</strong></a
  > or <a href="/feed.xml"><strong>RSS</strong></a>.
</p>
