{% set coverImage = cover if cover else 
  site.defaultCover %}
{% set pageTitle = title + " · " + site.name if title else 
  site.defaultTitle %}
{% set pageDescription = description if description else 
  site.description %}
<meta property="og:description" content="{{ pageDescription }}"/>
<meta property="og:title" content="{{ pageTitle }}"/>
<meta property="og:site_name" content="{{site.name}}"/>
<meta property="og:url" content="{{ page.url | absoluteUrl  }}"/>
<meta property="og:image" content="{{ coverImage }}"/>
{% if isArticle %}
  <meta property="og:type" content="article"/>
{% else %}
  <meta property="og:type" content="website"/>
{% endif %}
<meta name="twitter:card" content="summary_large_image"/>
<meta name="twitter:site" content="{{ author.social.twitter }}"/>
<meta name="twitter:creator" content="{{ author.social.twitter }}"/>
<meta name="twitter:title" content="{{ pageTitle }}"/>
<meta name="twitter:description" content="{{ pageDescription }}"/>
<meta name="twitter:image" content="{{ coverImage }}"/>
<meta name="fediverse:creator" content="{{ author.social.mastodon }}"/>

<title>{{ pageTitle }}</title>
<meta name="description" content="{{ pageDescription }}"/>
<script type="application/ld+json">
  {
    "name": "{{ author.name }}",
    "description": "{{ site.description }}",
    "author": {
      "@type": "Person",
      "name": "{{ author.name }}"
    },
    "@type": "WebSite",
    "url": "{{ site.url }}",
    "image": "{{ author.avatar | url | absoluteUrl }}",
    "headline": "{{ site.title }}",
    "sameAs": [
      "{{ author.social.twitter }}", "{{ author.social.github }}", "{{ author.social.mastodon }}"
    ],
    "@context": "http://schema.org"
  }
</script>