<title>{{ title }}</title>

<meta property="og:description" content="{% include './description.njk' %}" />
<meta property="og:title" content="{% include './title.njk' %}" />
<meta property="og:site_name" content="{{site.name}}" />
{# TODO: get absolute URL as a filter #}
<meta property="og:url" content="{{ page.url | absoluteUrl  }}" />
<meta property="og:image" content="{% include './image.njk' %}" />
<meta property="og:image:width" content="400" />
<meta property="og:image:height" content="400" />
{% if isArticle %} <meta property="og:type" content="article" />
{% else %}
<meta property="og:type" content="website" />
{% endif %}
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:site" content="@rafalpast" />
<meta name="twitter:creator" content="@rafalpast" />
<meta name="twitter:title" content="{% include './title.njk' %}" />
<meta name="twitter:description" content="{% include './description.njk' %}" />
<meta name="twitter:image" content="{% include './image.njk' %}" />
<meta name="fediverse:creator" content="@raf@mastodon.cloud" />

<title>{% include './title.njk' %}</title>
<meta name="description" content="{% include './description.njk' %}" />

<script type="application/ld+json">
  {
    "name": "{{ author.name }}",
    "description": "{{ site.description }}",
    "author": {
      "@type": "Person",
      "name": "{{ author.name }}"
    },
    "@type": "WebSite",
    "url": "{{ site.url }}",
    "image": "{{ author.avatar | url | absoluteUrl }}",
    "headline": "{{ site.title }}",
    "sameAs": [
      "{{ author.social.twitter.url }}",
      "{{ author.social.github.url }}"
    ],
    "@context": "http://schema.org"
  }
</script>
