@property --alpha {
  initial-value: 0%;
  inherits: false;
  syntax: "<percentage>";
}

.article {
  margin-bottom: var(--spacing-hero);
  font-size: var(--s--1);
  ol,
  ul {
    margin: 1em 0;
    padding-inline-start: 1em;
    li {
      margin: 0.5em 0;
    }
  }

  p {
    margin: 1em 0;
  }
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-block: 2em 1em;
    position: relative;

    & .headline-anchor {
      font-family: var(--font-family-mono);
      position: absolute;
      left: -1em;
      color: inherit;
      font-style: normal;
      text-decoration: none;
      opacity: 0.2;
      font-weight: var(--font-weight-normal);
      transition: opacity, scale;
      transition-duration: 0.2s;

      @media (hover: hover) {
        &:hover {
          opacity: 1;
        }
      }
      &:active {
        scale: 0.9;
      }

      &::before {
        content: "⌘";
      }
    }
  }

  h2 {
    margin-block-end: var(--spacing-m);
  }
  blockquote {
    line-height: var(--leading-base);
    padding-inline-start: 2em;
    margin: 1em 0;
    border-left: var(--color-text) 2px solid;
  }
  & a[href^="http"]:not(.embed) {
    position: relative;
    padding-inline-end: 0.6em;
    &::after {
      content: "⤴";
      position: absolute;
      font-size: 0.75em;
      opacity: 0.5;
      bottom: 0;
    }
  }

  & a.link.link--broken {
    color: var(--color-link);
    position: relative;
    &::after {
      content: " †";
      position: absolute;
    }
  }

  .link-marker {
    display: contents;
    width: 1px;
    height: 1px;
    opacity: 0;
    overflow: hidden;
  }

  :where(p, ol, ul, blockquote):has(.link-marker:target) {
    --_c: color-mix(in srgb, var(--color-accent) var(--alpha), transparent);
    background-color: var(--_c);
    box-shadow: 0 0 0 0.25em var(--_c);
    border-radius: 0.3vmin;
    animation: flash 2s 0s ease-in-out 1 both;
  }

  :where(p, li) > code {
    --_color-bg: color-mix(in srgb, var(--color-text) 6%, transparent);
    background-color: var(--_color-bg);
    font-size: 0.8em;
    padding: 0.1em 0.3em;
    box-shadow: 0 0 0 0.1em var(--_color-bg);
    border-radius: 0.1em;
  }
  pre:has(code) {
    font-size: var(--s--2);
    line-height: var(--leading-tight);
    padding: 1em;
    overflow-x: auto;
    border: 2px solid var(--color-text);
    box-shadow: 4px 4px 0 0 var(--color-text);
    margin: 1em -2em;
  }

  p > img {
    margin-inline: calc(-1 * var(--page-margin));
    width: calc(100% + var(--page-margin) * 2);
    max-width: 200%;
  }

  .embed {
    width: 100%;
    height: auto;
    position: relative;

    &:not(.embed--twitter, .embed--error) > :only-child {
      vertical-align: bottom;
      border: 2px solid var(--color-text);
      box-shadow: 4px 4px 0 0 var(--color-text);
    }

    &:not(.embed--error) .embed__source {
      position: absolute;
      right: 0;
      top: 0;
      padding: 0.5em;
      font-size: 0.75em;
      color: color-mix(in srgb, var(--color-text) 80%, transparent);
      font-style: normal;
      background: color-mix(
        in srgb,
        var(--color-text) 5%,
        color-mix(in srgb, var(--color-page-bg) 70%, transparent)
      );
      line-height: 1;
      border-radius: 0.25em;
      z-index: var(--layer-tooltip);
    }

    &.embed--youtube {
      aspect-ratio: 16 / 9;
      margin-inline: calc(-1 * var(--page-margin));
      width: calc(100% + var(--page-margin) * 2);
      border-radius: var(--border-radius-panel);
      overflow: hidden;
    }

    &.embed--twitter {
      /* TODO: fix the borders */
      border-radius: var(--border-radius-panel);
      overflow: hidden;
    }

    &.embed--error {
      /* TODO: style */
      color: color-mix(in srgb, var(--color-text) 50%, transparent);
    }
  }
}

@keyframes flash {
  from {
    --alpha: 0%;
  }
  15% {
    --alpha: 80%;
  }
  to {
    --alpha: 0%;
  }
}
