.timeline {
  font-size: var(--s--1);
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding-inline-start: 0;
  line-height: var(--leading-base);

  & .timeline__item {
    display: grid;
    grid-template-columns: auto min-content;
    position: relative;
    line-height: var(--leading-loose);
    justify-items: start;
  }

  & .timeline__item time {
    display: inline-block;
    font-family: monospace;
    font-size: 0.8em;
    opacity: 0.4;
    justify-self: start;
    white-space: nowrap;
  }
  & .timeline__item a {
    font-weight: var(--font-weight-semibold);
    text-decoration: none;
  }

  & .timeline__item--article {
    &::before {
      content: "★";
      position: absolute;
      color: var(--color-link);
      font-size: 0.75em;
      left: -1.5em;
    }
  }
}
