.timeline {
  font-size: var(--s--1);
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding-inline-start: 0;
  line-height: var(--leading-base);

  & .timeline__item {
    position: relative;
    line-height: var(--leading-loose);
  }

  & .timeline__item-title {
    font-size: var(--s-0);
    line-height: var(--leading-loose);
  }

  & .timeline__group {
    padding-inline-start: 0;
    display: grid;
    @supports (grid-template-rows: masonry) {
      display: grid;
      grid-template-rows: masonry;
    }
    grid-template-columns: repeat(auto-fit, minmax(15em, 1fr));
    gap: 0 var(--spacing-l);
    margin-block-end: 4em;
    list-style-type: none;
    line-height: var(--leading-loose);
  }

  & .timeline__item a {
    font-weight: var(--font-weight-semibold);
    text-decoration: none;
    display: inline-block;
  }

  & .timeline__item--article {
    &::before {
      content: "★";
      position: absolute;
      color: var(--color-link);
      font-size: 0.75em;
      left: -1.5em;
    }
  }
}
