body,
html {
  margin: 0;
  padding: 0;

  font-family: var(--font-family-body);
  background-color: var(--color-page-bg);
  line-height: var(--leading-base);
}

::selection {
  background-color: var(--color-butter);
  color: var(--color-text);
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  background-size: cover;
  background-position: center;
  font-style: italic;
  shape-margin: 1em;

  &[loading="lazy"] {
    transition: 0.7s opacity;
    &:not(.img--is-loaded) {
      opacity: 0.3;
    }
  }
}
a:not([class]) {
  color: var(--color-link);
  --highlight-color: color-mix(in srgb, var(--color-link) 20%, transparent);
  --box-shadow-size: 0.1em;
  --transition-duration: 0.2s;
  text-decoration-color: var(--highlight-color);

  @media (hover: hover) {
    transition-duration: var(--transition-duration);
    transition-property: background-color, box-shadow;
    border-radius: 0.1em;

    &:hover {
      text-decoration: none;
      background-color: var(--highlight-color);
      box-shadow: 0 0 0 var(--box-shadow-size) var(--highlight-color);
    }
    &:active {
      --transition-duration: 0.1s;
      --box-shadow-size: 0.3em;
    }
  }
}
