/* @link https://utopia.fyi/type/calculator?c=320,18,1.2,1240,20,1.25,5,3,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */

:root {
  --s--3: clamp(0.64rem, 0.6549rem + -0.0192vw, 0.651rem);
  --s--2: clamp(0.7813rem, 0.7747rem + 0.0326vw, 0.8rem);
  --s--1: clamp(0.9375rem, 0.9158rem + 0.1087vw, 1rem);
  --s-0: clamp(1.125rem, 1.0815rem + 0.2174vw, 1.25rem);
  --s-1: clamp(1.35rem, 1.2761rem + 0.3696vw, 1.5625rem);
  --s-2: clamp(1.62rem, 1.5041rem + 0.5793vw, 1.9531rem);
  --s-3: clamp(1.944rem, 1.771rem + 0.8651vw, 2.4414rem);
  --s-4: clamp(2.3328rem, 2.0827rem + 1.2504vw, 3.0518rem);
  --s-5: clamp(2.7994rem, 2.4462rem + 1.7658vw, 3.8147rem);
}
:root {
  --color-page-bg: #fff;
  --color-butter: #fef4c3;
  --color-info: #4ad0e2;
  --color-accent: var(--color-butter);
  --color-text: #222;
  --color-negative: red;
  --color-link: hsl(2deg 85% 54%);
  --color-link-broken: hsl(2deg 35% 54%);
  --article-width: calc(30 * var(--s-0));
  --page-margin: var(--s-2);

  --font-family-body: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;

  --font-family-heading: "Playfair Display", serif;

  /* TODO: update */
  --font-family-mono: monospace;

  --leading-base: 140%;
  --leading-loose: 170%;
  --leading-tight: 120%;

  --spacing-hero: var(--s-5);
  --spacing-xxxl: var(--s-4);
  --spacing-xxl: var(--s-3);
  --spacing-xl: var(--s-2);
  --spacing-l: var(--s-1);
  --spacing-m: var(--s-0);
  --spacing-s: var(--s--1);
  --spacing-xs: var(--s--2);
  --spacing-xxs: var(--s--3);
  --page-width-wide: 60rem;
  --page-width-mid: 45rem;
  --page-width-narrow: 40rem;

  --font-weight-normal: 400;
  --font-weight-semibold: 500;
  --font-weight-bold: 600;
  --font-weight-black: 800;

  --layer-behind: -1;
  --layer-bg: 0;
  --layer-label: 1;
  --layer-tooltip: 2;

  --border-radius-panel: 1vmin;
}
