/* @link https://utopia.fyi/type/calculator?c=320,18,1.2,1600,20,1.25,6,3,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */

:root {
  --s--3: clamp(0.64rem, 0.6538rem + -0.0138vi, 0.651rem);
  --s--2: clamp(0.7813rem, 0.7766rem + 0.0234vi, 0.8rem);
  --s--1: clamp(0.9375rem, 0.9219rem + 0.0781vi, 1rem);
  --s-0: clamp(1.125rem, 1.0938rem + 0.1563vi, 1.25rem);
  --s-1: clamp(1.35rem, 1.2969rem + 0.2656vi, 1.5625rem);
  --s-2: clamp(1.62rem, 1.5367rem + 0.4164vi, 1.9531rem);
  --s-3: clamp(1.944rem, 1.8196rem + 0.6218vi, 2.4414rem);
  --s-4: clamp(2.3328rem, 2.1531rem + 0.8987vi, 3.0518rem);
  --s-5: clamp(2.7994rem, 2.5455rem + 1.2692vi, 3.8147rem);
  --s-6: clamp(3.3592rem, 3.0069rem + 1.7614vi, 4.7684rem);
}

:root {
  --color-bg: #fff;
  --color-butter: #fef4c3;
  --color-text: #222;
  --color-negative: red;
  --color-link: hsl(2deg 85% 54%);
  --color-link-broken: hsl(2deg 35% 54%);
  --color-loading-placeholder: hsl(0 0 0 /.2);
  --article-width: calc(30 * var(--s-0));
  --page-margin: var(--s-1);

  --font-family-body: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;

  --leading-base: 140%;
  --leading-loose: 170%;
}

html {
  font-size: var(--s-0);
}

body,
html {
  margin: 0;
  padding: 0;

  font-family: var(--font-family-body);
}

::selection {
  background-color: var(--color-butter);
  color: var(--color-text);
}

body {
  padding: var(--page-margin);
  background-color: var(--color-bg);
  color: var(--color-text);
  line-height: var(--leading-base);

  background:
    url(/assets/theseus.webp) no-repeat bottom left,
    url(/assets/top-right.webp) no-repeat top right;
  background-attachment: fixed;
  background-size: 30vmin;
}

/* @media all and (min-width: 420px) { */
/*   body { */
/*     background-image: url(/butter.webp); */
/*     background-size: 10rem; */
/*     background-repeat: no-repeat; */
/*     background-position: bottom left; */
/*     background-attachment: fixed; */
/*   } */
/* } */
/**/
/* @media all and (min-width: 768px) { */
/*   body { */
/*     background-size: 14rem; */
/*   } */
/* } */

main {
  margin: 0 auto;
  max-width: var(--article-width);
}


footer {
  margin: 0 auto;
  max-width: var(--article-width);
  font-size: var(--s--2);
  text-align: center;
  border-top: #222 solid 2px;
  position: sticky;
  bottom: 0;
  padding: 0.5em;
  background-color: var(--color-bg);
}

h1 {
  font-size: var(--s-3);
  font-weight: 800;
  line-height: 1;
  margin: 0 0 1rem;
}

h2 {
  font-size: var(--s-2);
}

blockquote {
  border-left: 4px solid var(--color-butter);
  padding-left: 1em;
  margin-left: 0;
  opacity: 0.6;
}
/* .hero { */
/*   margin: 3rem 0; */
/* } */
/**/
/* .hero p { */
/*   margin: 0 0 2em; */
/*   font-size: var(--s-1); */
/* } */
/**/
/* .hero img { */
/*   max-width: 100%; */
/*   height: auto; */
/* } */

/* @media all and (min-width: 420px) { */
/*   .hero { */
/*     text-align: center; */
/*   } */
/**/
/*   .hero { */
/*     margin-inline: -2rem; */
/*   } */
/* } */

a {
  color: var(--color-link);

  @media (hover: hover) {
    &:hover {
      text-decoration: none;
    }
  }

}

img {
  display: block;
  max-width: 100%;
  height: auto;
  background-size: cover;
  background-position: center;
  font-style: italic;
  shape-margin: 1em;

  &[loading='lazy']{
      transition: .7s opacity;
      &:not(.img--is-loaded) {
          opacity: .3;
          background-color: var(--color-loading-placeholder);
      }
  }

}
/* video { */
/*   aspect-ratio: 4/3; */
/*   max-width: 100%; */
/*   border-radius: 0.3rem; */
/*   border: 1px solid var(--color-text); */
/* } */

/* section:last-of-type::after { */
/*   content: ""; */
/*   display: block; */
/*   background-image: url(/butter.webp); */
/*   background-size: 100%; */
/*   background-repeat: no-repeat; */
/*   background-position: center; */
/*   width: 100%; */
/*   aspect-ratio: 1004/1200; */
/* } */
/**/
/* @media all and (min-width: 420px) { */
/*   section:last-of-type::after { */
/*     display: none; */
/*   } */
/*   section:last-of-type { */
/*     margin-bottom: 3rem; */
/*   } */
/* } */

mark {
  background-color: transparent;
  position: relative;
}

mark::before {
  content: "";
  height: 0.5em;
  width: 100%;
  position: absolute;
  display: block;
  background-color: var(--color-butter);
  left: -0.1em;
  right: -0.1em;
  bottom: 0.1em;
  z-index: -1;
}

.page-note__header {
  margin-block-start: calc(var(--s-0) * 5);
}

.page-note__article {
  & a[href^="http"]{
    position: relative;
    padding-inline-end: 0.6em;
    &::after{
      content: "⤴";
      position: absolute;
      font-size: .75em;
      opacity: .5;
      bottom:0;
    }
  }
}

.page-note__nav a {
  position: fixed;
  font-size: var(--s--3);
  font-weight: 500;
  top: var(--s--3);
  left: var(--s--3);
  background-color: var(--color-bg);
  color: var(--color-text);
  border: 2px solid;
  text-decoration: none;
  padding: 0.2em 0.75em;
  box-shadow: 4px 4px 0 0 var(--color-text);

  @media (hover: hover) {
    &:hover {
      background-color: var(--color-butter);
    }
  }

  &:active {
    translate: 2px 2px;
    box-shadow: 2px 2px 0 0 var(--color-text);
  }
}

.page-notes {
}

.page-notes__intro {
  margin-block-start: var(--s-4);
  font-size: var(--s-0);
  line-height: var(--leading-loose);

  blockquote {
    font-size: var(--s--1);
    line-height: var(--leading-base);
  }

  p:first-of-type {
    font-weight: 500;
  }
}

.page-notes--by-day {
  & ol {
    font-size: var(--s--1);
    counter-reset: day-counter;
    list-style-type: none;
    padding-inline-start: 0;
    display: flex;
    flex-direction: column-reverse;
    line-height: var(--leading-loose);
  }

  & li {
    display: grid;
    grid-template-columns: min-content auto;
    position: relative;
  }

  & li::before {
    text-align: right;
    display: inline-block;
    /* fine for the next 90 posts, perhaps Safari will catch up by April! */
    content: "#0" counter(day-counter, decimal-leading-zero);
    counter-increment: day-counter;
    margin-inline-end: 0.5em;
    font-family: monospace;
    opacity: 0.4;
    font-size: 0.8em;
    justify-self: start;
    letter-spacing: 0.05em;
  }
}

.widget-subscribe {
  padding: 0.75em;
  margin-inline: -0.75em;
  border-radius: 0.5em;
  background: var(--color-butter);
  line-height: var(--leading-base);
  font-size: var(--s--1);
}

/* Embeds */
.embed {
  width: 100%;
  height: auto;

  & > * {
    vertical-align: bottom;
    border: 2px solid var(--color-text);
    box-shadow: 4px 4px 0 0 var(--color-text);
  }
}

.embed--iframe-default {
}

.embed--video {
  & video {
    max-width: 100%;
    width: 100%
    height: auto;
  }
}

.link-marker {
  font-size: 0.5em;
  position: relative;
  top: -0.5em;
}

.link.link--broken {
    opacity: .6;
    cursor: not-allowed;
    color: var(--color-link-broken);
    &::after{
        content: '🏴‍☠️';
    }
}


.debug-alert{
    color: var(--color-negative);
    font-size: var(--s-2);
    border: 1px solid var(--color-negative);
}
