---
layout: root.njk
title: Oops! Not Found
permalink: 404.html
pageClass: 404
---

<article class="copy">
    <h1>404</h1>
    <h2>Looking for something?</h2>
    <p>
        <a href="mailto:hello@sonnet.io">Let me know</a> or
        
    <a href="javascript:history.back()">go back</a>.
    </p>
    <img src="/assets/mango-bless-this-mess.webp" class="img--is-loaded" alt="404">
</article>