---
layout: root.njk
pageClass: intro
permalink: /all/index.html
eleventyExcludeFromCollections: true
---

<main>
  <section class="page-intro__contact">
    {% include "components/widget-subscribe.njk" %}
  </section>

  <section class="page-intro__feed">
    <header class="page-intro__section-nav">
      <h2>All notes</h2>
      <a href="/">View selected notes</a>
    </header>
    <ol class="timeline" reverse>
      {% for note in collections.all | reverse %}
      <li class="timeline__item{% if note.data.tags and ('untested-article' in note.data.tags) %} timeline__item--article{% endif %}">
        <a href="{{ note.url }}">{{ note.data.title }}</a
        ><time>{{ note.page.date | dateFormat('dd·MM·yyyy')}}</time>
      </li>
      {% endfor %}
    </ol>
  </section>
</main>

{% include "components/page-stickers.njk" %} {% include
"components/style-lazy.njk" %} {% include "components/footer.njk" %}
