---
layout: base.njk
---

<section class="page-notes__intro">
  <p>
    Hi there, I'm <a href="https://sonnet.io">Rafał Pastuszak</a>. I'm using
    this space to publish my #til/lab notes.
  </p>

  {% include "widget-subscribe.njk" %}

  <p>Let's call this thing Untested.</p>

  <blockquote>
    <em>untested</em> like <em>undead</em>, so not
    <em><strong>not</strong>-tested</em>, but in a limbo causing constant fear
    and anxiety, boooo!
  </blockquote>
</section>

<section class="page-notes page-notes--articles">
  <h2>Articles</h2>
  <ol>
    {% for note in collections['untested-article'] | reverse %}
    <li>
        <a href="{{ note.url }}">
            <img src="{{note.data.cover}}" alt="{{note.data.title}}">
            <h3>{{ note.data.title }}</h3>
        </a>
    </li>
    {% endfor %}
  </ol>
</section>
<section class="page-notes page-notes--by-day">
  <h2>(wip) dump of all public notes</h2>
  <ol>
    {% for note in collections.notes | reverse %}
    <li><a href="{{ note.url }}">{{ note.data.title }}</a></li>
    {% endfor %}
  </ol>
</section>

<script type='module'>
const onLoaded = () => {
    const images = document.querySelectorAll("img[loading='lazy']");
    images.forEach(img => {
        if (img.complete) {
            img.classList.add("image--is-loaded");
        } else {
            img.addEventListener("load", () => {
                img.classList.add("img--is-loaded");
            });
        }
    });
} 
if(document.readyState !== 'loading') {
 onLoaded()
} else {
    document.addEventListener("DOMContentLoaded", onLoaded);
}
</script>
