---
layout: base.njk
pagination:
  data: collections.publishedNotes
  size: 1
  alias: note
permalink: "{{ 'notes/' + note.filePathStem | slugify }}"
---
<h1>Note: {{ note.data.title }}</h1>
<div>{{ note.templateContent | safe }}</div>

